tr:nth-child(odd) {
    background-color: #024156;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.heading {
    background-image: url(./image.png);
    text-align: center;
}